@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
section 
{
    padding: 100px;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(../image/bg/banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em; 
}
.banner h2 span
{
    font-size: 1.4em;
    font-weight: 580;
}
.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.banner .shanImg
{
    border: #fff solid 10px;
    border-bottom:#fff solid 80px;
    max-width:50%;
    transform: rotate(0deg);
}
.btn
{
    position: relative;
    background:  #31d3c8;
    display: inline-block;
    color: #fff;    
    margin-top: 20px;
    margin-right: 10px;;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
}
header
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:40px 100px;
    z-index:1000;
    display:flex;
    justify-content: space-between;
    align-items:center;
    transition:0.5s;
}
header.sticky
{
    background:#fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo
{
  color: #31d3c8; 
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
    display: flex;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a
{
    color: #111;
}
.heading
{
    width:100%;
    text-align: center;
    margin-bottom: 30px;
    color:#111;
}
.heading h2
{
    font-weight: 600;
    font-size: 30px;
}
.content
{
    display: grid;
    justify-content: center;

}
.about .content {
    display: flex;
    justify-content: right;
}
.about .content img 
{
    border: #fff solid 17px;
    transform: rotate(0deg);
    margin-left: 30px;
}
.contentBx
{
    padding-right: 50px;
    width:90%;
}
.contentBx h3
{
 font-size: 24px;
 margin-bottom: 10px;
}
img
{
    max-width: 100%;
}
.about
{
    background: url(../image/bg/about2.jpg);
    background-size: cover;
}
.about .hello {
    background:#31d3c8;
    color:#fff;
    padding:10px;
}
.work
{
    background: url(../image/bg/work2.jpg);
    background-size: cover;
}
.heading.white
{
    color:#fff;
}
.work .content
{
    
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction:row;
}
.work .content .workBx
{
    padding:40px 20px;
    background: rgb(131, 129, 129);
    color:#fff;
    max-width: 340px;
    margin: 20px;
    text-align:center;
    transition:0.5s;
    border-radius: 30px;
}
.work .content .workBx:hover
{
    background:#31d3c8
}
.work .content .workBx img
{
    max-width: 180px;
    transform: translateZ(60px);
}
.work .content .workBx h2
{
 font-size: 20px;
 font-weight: 600;
}   
.workBx h2
{
    color:rgb(250, 246, 246);
    transform: translateZ(48px);
}
.workBx h5
{
    background:rgb(161, 159, 159);
    transform: translateZ(40px);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}
[data-tilt] {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.certificate
{
    background: url(../image/bg/certificate.jpg);
    background-size: cover;
}
.certificate .content
{
    
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction:row;
}
.certificate .content .certificateBx
{
    padding:40px 20px;
    background: rgb(131, 129, 129);
    color:#fff;
    max-width: 340px;
    margin: 20px;
    text-align:center;
    transition:0.5s;
    border-radius: 30px;
    border:#a4a5a7 solid 1.5px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
    
}
.certificate .content .certificateBx:hover
{
    background: #4a4b4b;
}
.certificate .content .certificateBx img
{
    max-width: 120px;
    transform: translateZ(70px);
}
.certificate .content .certificateBx h2
{
 font-size: 20px;
 font-weight: 600;
 color:black;
}
.certificateBx h1
{
color:yellowgreen;
text-shadow: #a4a5a7;
transform: translateZ(55px);
}
.certificateBx h3
{
transform: translateZ(48px);
}
.contact
{
    background:#111;
}
.formBx
{
    min-width:60%;
}
.formBx form{
    display: flex;
    flex-direction: column;
}
.formBx form h3,
.contactInfo h3
{
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:10px;
}
.formBx form input,
.formBx form textarea
{
    margin-bottom: 20px;
    padding:15px;
    font-size:16px;
    border:none;
    outline:none;
    background:#222;
    color:#fff;    
}
.formBx form textarea
{
    min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder
{
color:#999;
}
.formBx form input[type="submit"]
{
    max-width: 100px;
    background: #31d3c8;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactInfo
{
    min-width: 40%;
}
.contactInfoBx
{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: left;
}
.contactInfoBx .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBx .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 24px;
}
.contactInfoBx .box .text
{
    margin-left:20px;
    font-size:16px;
    color:#fff;
    flex-flow: column;
    flex-direction: row;
    font-weight: 300;
}
.contactInfoBx .box .text h3
{
    font-weight:500;
    color:#31d3c8;
}
.copyright
{
    background: #000;
    color:#fff;
    text-align:center;
    padding:10px;
}
.skills
{
    background: url(../image/bg/about2.jpg);
    background-size: cover;
}
.skills .content
{
    display: flex;
    justify-content: center;
    
}
.skills .content .skillsBx
{
    padding:40px 20px;
    box-shadow: 0 5px 20px rgba(0.9, 0.4, 0.4, 0.4);
    color:#111;
    margin: 20px;
    text-align:center;
    transition:0.5s;
    border-radius: 30px;
}
.skills .content .skillsBx:hover
{
    background:#31d3c8;
}
.eachskills
{
    position: relative;
}
.eachskills img
{
    width:60px;    
}
.skillscnt
{
    
    padding:15px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin: 10px;
    background: rgb(173, 172, 172);
    border-radius:10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
.skillscnt .eachskills
{
    align-items: stretch;
    margin: 10px;
}

.skillscnt .eachskills img
{
    border:rgb(223, 221, 221) solid 2px;
    border-radius:4px;
}



/* Responsive */
@media(max-width:991px)
{
    header,
    header.sticky
    {
        padding:20px 50px;
        z-index:1000;
    }
    .menu
    {
        position:fixed;
        top:55px;
        left:-900%;
        display:block;
        padding:100px 50px;
        text-align: center;
        width:100%;
        height:100vh;
        background: #111;
        transition:0.5s;
        z-index: 999;
        border-top:1px solid rgba(0,0,0,0.2);
        opacity: 84%;

    }
    .menu.active
    {
        left:0;
    }
    header ul li a 
    {
        color:#EEE;
        font-size:20px;
        margin:10px;
        background: #31d3c8;
        padding:5px;
        border-radius: 8px;
        
    }
    .toggle
    {
        width:40px;
        height:40px;
        background:url(../image/logo/menu.png);
        background-position:center;
        background-repeat:no-repeat;
        background: size 30px;
        cursor:pointer;
    }
    .toggle.active
    {
        background: url(../image/logo/close.png);
        background-position:center;
        background-repeat:no-repeat;
        background-size: 20px;
        cursor:pointer;
    }
    header.sticky ul li a
    {
        color: #EEE;
    }
    section
    {
        padding:10px 50px;
    }
    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2
    {
        font-size:1.5em;
    }
    .banner h3
    {
        font-size:1em;
    }
    .btn
    {
        margin-top:10px;
        padding:10px 20px;
        font-size:16px;
    }
    .heading h2
    {
        font-size:24px;
    }
    .contentBx h3 
    {
        font-size:20px;
    }
    .content 
    {
        flex-direction:column;
    }
    .w50
    {
        margin-bottom:20px; 
    }
    .content .w50 img
    {
        border: #fff solid 10px;
        transform: rotate(0deg);
        display:flex;
        position:relative;
    }
    .banner 
    {
        flex-direction:column;
    }
    .banner .shanImg {
        border: #fff solid 15px;
        border-bottom: #fff solid 40px;
        transform: rotate(-8deg);
        min-width: 75%;
    }

    .contentBx {
        padding-right: 2px;
        width: 100%;
    }
    section .textBx
    {
        padding-bottom:50px;
    }
}